@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Rowdies:wght@300;400;700&display=swap');
body {
  background-color: #00ff00;
  font-family: Rowdies;
  color: white;
}

.slider {
  position: relative;
  height: 210px;
}

.slide {
  position: absolute;
  top: 60px;
  width: 600px;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.95);
  border-radius: 50px;
  opacity: 0;
  transition: all 0.7s ease-out;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  align-items: center;
}

.slide--active {
  opacity: 1;
  z-index: 9;
}

.slide .number { 
  font-size: 38px;
  margin: 0px 15px 0px 0px;
  font-weight: lighter;

}

.slide img { 
  height: 80px;
  width: 80px;
  border-radius: 50px;
  margin: 0px 0px 0px 5px;
}

.slide .title { 
  font-size: 48px;
}

.prev, .next {
  opacity: 0.8;
}

.prev {
  transform: translate(0, -80%) perspective(120px) rotateX(32deg) scalex(0.9) scaley(0.5)
}

.next {
  transform: translate(0, 80%) perspective(120px) rotateX(-32deg) scalex(0.9) scaley(0.5)
}

.stat {
  padding:10px 30px;
  border-radius: 15px;
  font-size: 32px;
  background-color: rgba(0, 0, 0, 0.45);
  text-align: center;
  color: white;
  vertical-align: center;
  align-items: center;
  font-weight: bold;
  display:flex;
  justify-content: center;
  height:35px;
}

.stat span {
  font-weight: normal;
}

#nextgame, #count, .stats {
  display: none;
}

.stats {
  width: 600px;
  justify-content: space-evenly;
}

#all .slider { 
  height: 1010px; 
}

#all .slide, .stats {
  position: inherit;
  opacity: 1;
  margin-bottom: 10px;
} 

#all .slide {
  top: 10px;
} 

#all .next, #all .prev { 
  transform: none;
} 

#all .slide--active { 
  background: #3891ac;  
}